@font-face {
  font-family: 'coolveticarg.otf';
  src: url('../fonts/coolveticarg.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'coolveticarg.otf';
}

.form-container-Home2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
  color: #ffffff;
}

.todo1 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}


.nombre11 {
  font-family: 'coolveticarg.otf';
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 1px;
  color: white;
}

.nombre22 {
  font-family: 'coolveticarg.otf';
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 1px;
  color: #3498db;
}

.encabezado-container1 {
  position: absolute;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

.encabezado-container1 img {
  width: 300px;
  height: 300px;
  padding: 10%;
  filter: brightness(30%);
  transition: 0.7s ease;
}

.formulario-Home1 {
  position: relative;
  font-family: 'coolveticarg.otf';
  font-size: 18px;
  background-color: #3498db;
  color: #ffffff;
  border: 1px solid white;
  padding: 1.5rem;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 10px 0px white;
  width: 300px;
  text-align: center;
  z-index: 1;
}

.form-group-Home1 {
  font-family: 'coolveticarg.otf';
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'coolveticarg.otf';
  font-size: 18px;
}

button:hover {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .nombre11 {
    font-size: 36px;
    text-align: center;
    color: white;
  }

  .nombre22 {
    font-size: 26px;
    text-align: center;
    color: #3498db;
  }

  .todo1 {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
  }

  .encabezado-container1 img {
    display: none;
  }

  .formulario-Home1 {
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .encabezado-container1 img {
    width: 100%;
    max-width: 300px;
  }
}