@font-face {
    font-family: 'coolveticarg.otf';
    src: url('../fonts/coolveticarg.otf');
  }
  

  .form-container-Home1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    color: #ffffff;
  }
  
  .todo {
    background-color: rgba(0, 0, 0, 0.7);
    ;
    width: 100%;
    height: 100%;
  }
  
  .bots{
    display: flex;
    justify-content:space-around;
  }

  .nombre1 {
    font-family: 'coolveticarg.otf';
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 1px;
    color: white;
  }

  .nombre2 {
    font-family: 'coolveticarg.otf';
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 1px;
    color: white;
  }
  
  .encabezado-container {
    position: absolute;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .encabezado-container img {
    width: 300px;
    height: 300px;
    padding: 10%;
    filter: brightness(30%);
    transition: 0.7s ease;
  }
  
  .formulario-Home {
    position: relative;
    font-family: 'coolveticarg.otf';
    font-size: 18px;
    background-color: #3498db;
    color: #ffffff;
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 10px 0px white;
    width: 300px;
    text-align: center;
    z-index: 1;
  }
  
  .form-group-Home {
    font-family: 'coolveticarg.otf';
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #ffffff;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-top: 5px;
  }

  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-top: 5px;
  }

  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-top: 5px;
  }
  
  
  
  button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'coolveticarg.otf';
    font-size: 18px;
  }
  
  button:hover {
    background-color: #f2f2f2;
  }
  
  .mensajes {
    background-color: #2e3c51;
    color: #e74c3c;
  }
  
  
  @media (max-width: 768px) {
    .nombre1 {
      font-size: 36px;
      text-align: center;
      color: white;
    }
  
    .todo {
      width: 100vw;
      height: 100vh;
      max-width: 100%;
      max-height: 100%;
    }
  
    .encabezado-container img {
      display: none;
    }
  
    .formulario-Home {
      font-size: 16px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
  
    input[type="text"] {
      font-size: 14px;
    }
  
    .encabezado-container img {
      width: 100%;
      max-width: 300px;
    }
  
    .mensajes {
      font-size: 14px;
      color: #e74c3c;
    }
  }