@font-face {
  font-family: 'coolveticarg.otf';
  src: url('../fonts/coolveticarg.otf');
}

.form-container-Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: white;
  }

  .nombre{
    font-family: 'coolveticarg.otf';
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 1px;
    background-color: white;
  }


.encabezado-container {
    position: absolute;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
}

.encabezado-container img {
    width: 300px;
    height: 300px;
    padding: 10%;
    filter: brightness(30%);
    transition: .7s ease;
}


.formulario-Home {
    position: relative;
    font-family: 'coolveticarg.otf';
    font-size:18px;
    background-color: #2b333e;
    color: white;
    border: 1px solid white;
    padding: 2.5rem;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 10px 0px white;
    width: 300px; 
    text-align: center;
    z-index: 1; 
}
  
  .form-group-Home {
    font-family: 'coolveticarg.otf';
    font-size:18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 5px;
  }
  
  button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'coolveticarg.otf';
    font-size:18px;
  }
  
  button:hover {
    background-color: #f2f2f2;
  }
  