@font-face {
    font-family: 'coolveticarg.otf';
    src: url('../fonts/coolveticarg.otf');
}

.nombre {
    color: #3498db;
    text-align: center;
    font-family: 'coolveticarg.otf';
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 1px;

}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.botones {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.btn-buscar {
    background-color: #3498db;
    font-family: 'coolveticarg.otf';
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}

.btn-votar {
    background-color: #3498db;
    font-family: 'coolveticarg.otf';
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.btn-buscar {
    margin: 2px 0;
}

.btn-filtrar {
    background-color: #3498db;
    font-family: 'coolveticarg.otf';
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.button-v {
    background-color: white;
    font-family: 'coolveticarg.otf';
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}

.form-container-buscar {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 50px;
    margin-bottom: 2px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.dropdown-partido,
.dropdown-candidato,
.formulario {
    width: 100%;
    padding: 8px;
    margin: 1px 0;
    font-size: 16px;
    font-family: 'coolveticarg.otf';
}

.dropdown-partido-votar,
.dropdown-candidato-votar {
    width: 100%;
    padding: 8px;
    margin: 1px 0;
    font-size: 16px;
    font-family: 'coolveticarg.otf';
    background-color: white;
    color: black;
}

.area {
    width: 95%;
    padding: 8px;
    margin: 1px 0;
    font-size: 16px;
    font-family: 'coolveticarg.otf';
    background-color: white;
    color: black;
}

.titulos {
    font-size: 18px;
    font-family: 'coolveticarg.otf';
    text-align: center;
}

.reloj {
    font-size: 20px;
    font-family: 'coolveticarg.otf';
    text-align: left;
    color: black;
}

.imagen_p1 {
    width: 68%;
    justify-content: center;
}

.contenedor-imagen-votar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actividad-form {
    background-color: #3498db;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    text-align: center;
}

.formulario {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}

.modal-votar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.form-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 20px;
}

.estrellas {
    display: flex;
    flex-direction: row;
}

.clasificacion {
    flex-direction: row;
    display: flex;
    direction: rtl;
    unicode-bidi: bidi-override;
    justify-content: center;
}

.clasificacion input[type="radio"] {
    display: none;
}

.clasificacion label {
    font-size: 35px;
    color: gray;
    cursor: pointer;
    text-align: center;
    width: 50px;
}

.clasificacion label:hover,
.clasificacion label:hover~label {
    color: #ffca28;
}

.clasificacion input[type="radio"]:checked~label {
    color: #ffca28;
}

@media (max-width: 768px) {
    .botones {
        flex-direction: column;
        align-items: center;
    }

    .form-container-buscar {
        width: 90%;
        margin: 0 auto;
    }

    .dropdown-partido,
    .dropdown-candidato,
    .formulario,
    .area {
        width: 100%;
    }

    .imagen_p1 {
        width: 90%;
    }

    .modal-buscar,
    .modal-votar {
        padding: 10px;
    }

    .actividad-form {
        max-width: 90%;
    }

    .form-container1 {
        width: 90%;
        margin: 0 auto;
    }
}


@media (min-width: 769px) {
    .botones {
        justify-content: space-around;
    }

    .form-container-buscar {
        width: 40%;
        margin: 0;
    }

    .imagen_p1 {
        width: 68%;
    }

    .form-container1 {
        width: 40%;
        margin: 0;
    }
}
