@font-face {
    font-family: 'coolveticarg.otf';
    src: url('../fonts/coolveticarg.otf');
}

.btn-buscar,
.btn-votar {
    background-color: #3498db; /* Cambiar el color de fondo */
    font-family: 'coolveticarg.otf';
    color: white; /* Cambiar el color del texto */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}

.btn-buscar:hover,
.btn-votar:hover {
    background-color: #2980b9; /* Cambiar el color de fondo al pasar el mouse */
}

.btn-filtrar,
.button-v {
    background-color: #e74c3c; /* Cambiar el color de fondo */
    font-family: 'coolveticarg.otf';
    color: white; /* Cambiar el color del texto */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}

.form-container-buscar {
    display: flex;
    flex-direction: column; /* Cambiar a disposición en columna */
    width: 80%; /* Ajustar el ancho */
    margin-bottom: 20px;
    align-items: center; /* Centrar elementos horizontalmente */
}

.dropdown-partido,
.dropdown-candidato,
.formulario,
.area {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    font-family: 'coolveticarg.otf';
    border: 1px solid #ccc; /* Añadir un borde */
    border-radius: 5px; /* Añadir bordes redondeados */
    box-sizing: border-box;
}

.titulos {
    font-size: 18px;
    font-family: 'coolveticarg.otf';
    margin-bottom: 5px; /* Espaciado inferior para los títulos */
}

.imagen_p1 {
    width: 80%; /* Ajustar el tamaño de la imagen */
    max-width: 400px; /* Establecer un ancho máximo */
}

.contenedor-imagen-votar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Resto de tus estilos aquí... */
